
@{
	ViewBag.Title = "Impressum";
}

<h2>Impressum</h2>

<h3>Geolocation Portal der Großen Kreisstadt Mosbach</></h3>

<h4>Pflichtangaben zum Diensteanbieter gemäß § 5 Abs. 1 TMG (Telemediengesetz)</h4>

<address>
	Große Kreisstadt Mosbach<br />
	Vertretungsberechtigt: Oberbürgermeister Michael Jann<br />
	Postanschrift:	Stadt Mosbach<br />
	Hauptstraße 29<br />
	74821 Mosbach<br />
	Deutschland<br />
	<i class="fa fa-phone"></i> Telefon: <a href="tel:+496261821234">+49 (0) 6261/82-1234</a><br />
	<i class="fa fa-envelope"></i> E-Mail: 		<a href="mailto:max.mustermann@mosbach.de">max.mustermann@mosbach.de</a>
</address>

<p>
	Umsatzsteuer-Identifikationsnummer (USt-IdNr.): DE 123 456 789
</p>

<h4>Inhaltlich verantwortlich nach § 55 Abs. 2 RStV (Rundfunkstaatsvertrag)</h4>

<address>
	Oberbürgermeister Michael Jann<br />
	Stadt Mosbach<br />
	Hauptstraße 29<br />
	74821 Mosbach<br />
	<i class="fa fa-phone"></i> Telefon: 	<a href="tel:+496261905678">+49 (0) 6261/90-5678</a><br />
	<i class="fa fa-fax"></i> Telefax: 	<a href="tel:+496261905679">+49 (0) 6261/90-5679</a><br />
	<i class="fa fa-envelope"></i> E-Mail:		<a href="mailto:presse@mosbach.de">presse@mosbach.de</a>
</address>