
@{
    ViewBag.Title = "Impressum";
}

<h2>Impressum</h2>

<h3>Geolocation Portal der Großen Kreisstadt Mosbach</></h3>

<h4>Pflichtangaben zum Diensteanbieter gemäß § 5 Abs. 1 TMG (Telemediengesetz)</h4>

<address>
	Große Kreisstadt Mosbach<br />
	Vertretungsberechtigt: Oberbürgermeister Michael Jann<br />
	Postanschrift:	Stadt Mosbach<br />
	Hauptstraße 29<br />
	74821 Mosbach<br />
	Deutschland<br />
	Telefon: 		<a href="tel:+496261821234">+49 (0) 6261/82-1234</a><br />
	E-Mail: 		<a href="mailto:max.mustermann@mosbach.de">max.mustermann@mosbach.de</a>
</address>

Umsatzsteuer-Identifikationsnummer (USt-IdNr.): DE 123 456 789

<h4>Inhaltlich verantwortlich nach § 55 Abs. 2 RStV (Rundfunkstaatsvertrag)</h4>

<address>
	Oberbürgermeister Michael Jann<br />
	Stadt Mosbach<br />
	Hauptstraße 29<br />
	74821 Mosbach<br />
	Telefon: 	<a href="tel:+496261905678">+49 (0) 6261/90-5678</a><br />
	Telefax: 	<a href="tel:+496261905679">+49 (0) 6261/90-5679</a><br />
	E-Mail:		<a href="mailto:presse@mosbach.de">presse@mosbach.de</a>
</address>

<h4>Haftungsausschluss:</h4>
<p>
	Die Inhalte dieses Informationsangebots im Internet wurden nach bestem Wissen sorgfältig zusammengestellt und geprüft.
	Es wird jedoch keine Gewähr für die Vollständigkeit, Richtigkeit, Aktualität oder Qualität und jederzeitige Verfügbarkeit der
	bereit gestellten Informationen übernommen. In keinem Fall wird für Schäden, die sich aus der Verwendung der abgerufenen
	Informationen ergeben, eine Haftung übernommen.
</p>

<h4>Websites dritter Anbieter / Links:</h4>

<p>
	Dieses Informationsangebot enthält auch Links oder Verweise auf Websites Dritter. Diese Links zu den Websites Dritter
	stellen keine Zustimmung zu deren Inhalten durch den Herausgeber dar. Es wird keine Verantwortung für die Verfügbarkeit,
	Aktualität oder den Inhalt solcher Websites übernommen und keine Haftung für Schäden, die aus der Nutzung solcher Inhalte
	entstehen. Mit den Links zu anderen Websites (Gemeindeseiten) vermittelt die Große Kreisstadt Mosbach den Nutzern des
	Geolocation-Portals lediglich den Zugang zur Nutzung der Inhalte. Für illegale, fehlerhafte oder unvollständige Inhalte
	und für Schäden, die aus der Nutzung entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde. Falls
	auf Seiten verwiesen wird, deren Inhalt oder sonstiges Anlass zur Beanstandung gibt, bitten wir Sie umgehend um eine Mitteilung.
</p>

<p>
	Die Verantwortlichen für den Inhalt behalten sich das Recht vor, ohne vorherige Ankündigung, die bereitgestellten
	Informationen zu ändern, zu aktualisieren oder zu entfernen.
</p>

<p>
	Das Copyright für das Layout dieses Servers liegt bei der Großen Kreisstadt Mosbach. Die Inhalte werden den Nutzern auf
	Grundlage von Open Data bereitgestellt und unterliegen somit keinem Copyright.
</p>
