@{
    ViewBag.Title = "Home";
}

    <div>
        <h1>Willkommen im Open Data Geolocation-Portal der Stadt Mosbach!</h1>
        <hr />

        <!-- Tutorial: Overlay responsive erstellen https://stackoverflow.com/questions/43333495/text-over-image-responsive/43333543 -->
        <div id="box-search">
            <div class="thumbnail">
                <video id="welcomevideo" controls autoplay loop muted>
                    <source src="~/Content/Videos/rathaus_1920px.mp4" type="video/mp4" media="all and (min-width:768px)">
                    <source src="~/Content/Videos/rathaus_720px.mp4" type="video/mp4" media="all and (min-width:5760px)">
                    <source src="~/Content/Videos/rathaus_640px.mp4" type="video/mp4" media="all and (min-width:320px)">

                    <source id="mp4" src="~/Content/Videos/walking-man.mp4" type="video/mp4">
                    <p>Your browser does not support the video tag.</p>
                </video>

                <div class="caption">
                    <div id="oval-thought">
                        <p>Ich frage mich wie viele Schulen die Stadt Mosbach besitzt...</p>
                    </div>
                </div>

                <script>
                    var questions = [
                        "Wie viele Mülleimer die Stadt Mosbach wohl besitzt?",
                        "Wo befindet sich das nächste öffentliche WC?",
                        "Wie haben sich die Mietpreise in den letzten Jahren verändert?"
                    ];

                    var sec = 14;
                    var i = 0;
                    function updateDiv() {
                        console.log(document.getElementById('oval-thought').innerHTML);
                        document.getElementById('oval-thought').innerHTML = questions[i];
                        i = i + 1;
                        console.log(i);

                        if (i > 2) {
                            i = 0;
                        }
                    }

                    window.setInterval("updateDiv()", (sec * 1000));
                </script>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Was ist ein Open Data Portal?</h3>
            <p>
                Das Open Data Portal als Informationsplattform stellt den unkomplizierten und
                zentralen Einstiegspunkt zu allen öffentlichen - “offenen” - Daten der Stadt Mosbach dar.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Was sind “offene Daten”?</h3>
            <p>
                Unter “offenen Daten” sind alle Daten zu verstehen, die der Öffentlichkeit frei zur Verfügung
                gestellt werden, Hierbei handelt es sich um jegliche Daten, die von allgemeinem Interesse sind,
                wie zum Beispiel Haushalts- oder Verkehrsdaten.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Für wen sind “offene Daten” interessant?</h3>
            <p>
                Alle “offenen Daten” sind von allgemeinem Interesse, daher sind diese sowohl für interessierte Bürger,
                ehrenamtlich Tätige, Entwickler und Unternehmen aber auch für Mitarbeiter der Stadt Mosbach, andere
                Gemeinden und für die Bundesrepublik Deutschland von Interesse.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Wie kann ich “offene Daten” verwenden?</h3>
            <p>
                “Offene Daten” können prinzipiell durch jedermann für jegliche Zwecke weiterverarbeitet und
                weiterverbreitet werden.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Welchen Nutzen habe ich von “offenen Daten”?</h3>
            <p>
                Mithilfe von “offenen Daten” können Sie sich z.B. über Freizeitangebote der Stadt Mosbach informieren
                und diese Informationen z.B. in eine eigene Anwendung integrieren oder zur Erstellung einer Grafik
                weiterverwenden. Durch “offene Daten” wird Transparenz geschaffen und Sie können sich hierbei
                aktiv einbringen und die Stadt Mosbach dabei unterstützen, eine stetig hohe Qualität der Daten sicherzustellen.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Weitere Fragen zu diesem Portal?</h3>
            <p>
                In unserem FAQ finden Sie Antworten auf häufig gestellte Fragen.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "FAQ")">Weiter zu den FAQs &raquo;</a></p>
        </div>
    </div>