@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h2>Willkommen im Open Data Portal der Stadt Mosbach!</h2>

        <video autoplay="" width="100%" height="240" controls="" loop="">
            <source src="~/Content/Videos/walking-man.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Was ist ein Open Data Portal?</h3>
            <p>
                Das Open Data Portal als Informationsplattform stellt den unkomplizierten und
                zentralen Einstiegspunkt zu allen öffentlichen - “offenen” - Daten der Stadt Mosbach dar.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Was sind “offene Daten”?</h3>
            <p>
                Unter “offenen Daten” sind alle Daten zu verstehen, die der Öffentlichkeit frei zur Verfügung
                gestellt werden, Hierbei handelt es sich um jegliche Daten, die von allgemeinem Interesse sind,
                wie zum Beispiel Haushalts- oder Verkehrsdaten.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Für wen sind “offene Daten” interessant?</h3>
            <p>
                Alle “offenen Daten” sind von allgemeinem Interesse, daher sind diese sowohl für interessierte Bürger,
                ehrenamtlich Tätige, Entwickler und Unternehmen aber auch für Mitarbeiter der Stadt Mosbach, andere
                Gemeinden und für die Bundesrepublik Deutschland von Interesse.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Wie kann ich “offene Daten” verwenden?</h3>
            <p>
                “Offene Daten” können prinzipiell durch jedermann für jegliche Zwecke weiterverarbeitet und
                weiterverbreitet werden. Mehr hierzu finden Sie unter FAQ.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Welchen Nutzen habe ich von “offenen Daten”?</h3>
            <p>
                Mithilfe von “offenen Daten” können Sie sich z.B. über Freizeitangebote der Stadt Mosbach informieren
                und diese Informationen z.B. in eine eigene Anwendung integrieren oder zur Erstellung einer Grafik
                weiterverwenden. Durch “offene Daten” wird Transparenz geschaffen und Sie können sich hierbei
                aktiv einbringen und die Stadt Mosbach dabei unterstützen, eine stetig hohe Qualität der Daten sicherzustellen.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Weitere Fragen zu diesem Portal?</h3>
            <p>
                In unserem FAQ finden Sie Antworten auf häufig gestellte Fragen.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "FAQ")">Weiter zu den FAQs &raquo;</a></p>
        </div>
    </div>