@model Geolocation_Portal_Test.Models.ContactModel

<h1>Kontakt</h1>
<hr />

<h3>Große Kreisstadt Mosbach</h3>
<h5>Oberbürgermeister - Michael Jann</h5>
<address>
    <i class="fa fa-phone"></i> Telefon: <a href="tel:+49626182200">+49 (0) 6261/82-200</a><br />
    <i class="fa fa-envelope"></i> E-Mail: 		<a href="mailto:ob@mosbach.de">ob@mosbach.de</a>
</address>

<h5>Bürgermeister - Michael Kailbach</h5>
<address>
    <i class="fa fa-phone"></i> Telefon: <a href="tel:+49626182252">+49 (0) 6261/82-252</a><br />
    <i class="fa fa-envelope"></i> E-Mail: 		<a href="mailto:bm@mosbach.de">bm@mosbach.de</a>
</address>

<h4>Kontaktformular</h4>
<!-- Define a form that will point to your Home/Contact action (i.e. the Contact method in your HomeController) -->
<form action='@Url.Action("Kontakt","Home")' method='post'>
    <div class="form-group row">
        <label for="name" class="col-3">Name:</label>
        <div class="col-9">
            <input type="text" class="form-control mw-100" name="name" id="name" maxlength="50">
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-3">E-Mail:</label>
        <div class="col-9">
            <input type="text" class="form-control mw-100" name="email" id="email" maxlength="50">
        </div>
    </div>

    <div class="form-group">
        <label for="message">Nachricht:</label>
        <textarea class="form-control mw-100" name="message" id="message" rows="10" maxlength="3000"></textarea>
    </div>

    <p>
        Hiermit erteile ich gegenüber der Stadt Mosbach meine Einwilligung in die Verarbeitung der
        vorstehenden von mir angegebenen personenbezogenen Daten. Ich bin damit einverstanden,
        dass die von mir angegebenen personenbezogenen Daten verarbeitet werden, um meine Kontaktanfrage
        zu bearbeiten und mich zu diesem Zwecke zu kontaktieren. Ich willige ebenfalls ein,
        dass meine IP-Adresse gespeichert wird. Ich habe das Recht, diese Einwilligung jederzeit
        ohne Angabe von Gründen zu widerrufen (siehe <a href="@Url.Action("Datenschutz", "Home")">Datenschutzerklärung</a>), ohne dass die
        Rechtmäßigkeit der aufgrund meiner Einwilligung bis zum Widerruf erfolgten Verarbeitung
        davon berührt wird.
    </p>

    <input class="btn btn-primary" type='submit' value='Absenden' />
</form>