
@{
    ViewBag.Title = "Nutzungsbedingungen";
}

<h1>Nutzungsbedingungen</h1>
<hr />

<p class="text-justify">
    Die Große Kreisstadt Mosbach veröffentlicht im Geolocation Portal Daten in maschinenlesbarer Form zur weiteren Nutzung, Verbreitung und Weiterverwendung durch Bürgerinnen und Bürger, Gemeinden, Wirtschaft, Medien, Wissenschaft und sonstige Institutionen.
</p>

<h4>Bedingungen / Haftungsausschluss:</h4>

<p class="text-justify">
    Die Inhalte dieses Informationsangebots im Internet wurden nach bestem Wissen sorgfältig zusammengestellt und geprüft. Es wird jedoch keine Gewähr für die Vollständigkeit, Richtigkeit, Aktualität oder Qualität und jederzeitige Verfügbarkeit der bereit gestellten Informationen übernommen. In keinem Fall wird für Schäden, die sich aus der Verwendung der abgerufenen Informationen ergeben, eine Haftung übernommen. Des Weiteren dürfen die bereitgestellten Daten und Informationen nicht für Veröffentlichungen oder Anwendungen verwendet werden, die kriminelle, diskriminierende, verleumderische, rassistische, pornographische, sexistische oder homophobe Aktivitäten unterstützen, zu solchen Aktivitäten anstiften oder gegen geltendes Recht verstoßen.
    Die Verantwortlichen für den Inhalt behalten sich das Recht vor, ohne vorherige Ankündigung, die bereitgestellten Informationen zu ändern, zu aktualisieren oder dauerhaft zu entfernen.
</p>

<p class="text-justify">
    Das Copyright für das Layout dieses Servers liegt bei der Großen Kreisstadt Mosbach. Die Inhalte werden den Nutzern auf Grundlage von Open Data bereitgestellt und unterliegen somit keinem Copyright.
</p>

<h4>Websites dritter Anbieter / Links:</h4>

<p class="text-justify">
    Dieses Informationsangebot enthält auch Links oder Verweise auf Websites Dritter. Diese Links zu den Websites Dritter stellen keine Zustimmung zu deren Inhalten durch den Herausgeber dar. Es wird keine Verantwortung für die Verfügbarkeit, Aktualität oder den Inhalt solcher Websites übernommen sowie keine Haftung für Schäden, die aus der Nutzung solcher Inhalte entstehen.
    Mit den Links zu anderen Websites (Gemeindeseiten) vermittelt die Große Kreisstadt Mosbach den Nutzern des Geolocation-Portals lediglich den Zugang zur Nutzung der Inhalte. Für illegale, fehlerhafte oder unvollständige Inhalte und für Schäden, die aus der Nutzung entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde. Falls auf Seiten verwiesen wird, deren Inhalt oder Sonstiges Anlass zur Beanstandung gibt, bitten wir Sie umgehend um eine Mitteilung.
</p>

<p class="text-justify">
    Wir freuen uns über Ihre Mitarbeit.
</p>