@model int
<div class="float-right">
    @for (int i = 1; i <= 5; i++)
    {
        if (i <= Model)
        {
            <img class="" width="15" height="15" src="~/icons/Star-Icon.png" />
        }
        else
        {
            <img class="" width="15" height="15" src="~/icons/Star-Black-Icon.png" />
        }
    }
</div>

