* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    font-size: 16px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.8em;
    font-family: Tahoma, Verdana, 'Segoe', sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

a:hover {
    color: #777777;
}

header {
    background-color: #12304a;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-link, .menu-icon {
    color: white;
}

.menu-link:hover {
    color: white;
}

.menu-icon:hover {
    /*color: black;*/
}


.btn-primary {
    background-color: #12304a;
    border-color: #12304a;
}

#v {
    z-index: 1;
}

.row {
    display: block;
    margin: 0;
    margin-top: 5px;
}

.col-3 {
    max-width: 100%;
}

.col-9 {
    max-width: 100%;
}

#video-container {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 1200px;
    margin: auto;
}

#welcomevideo {
    position: relative;
    width: 100%;
    height: 100%;
}

#oval-thought {
    position: relative;
    max-width: 180px;
    min-width: 180px;
    padding: 30px 15px;
    width: 180px;
    max-height: 120px;
    height: 120px;
    min-height: 120px;
    padding: 20px 8px;
    margin: 1em auto 80px;
    text-align: center;
    color: #fff;
    background-color: #12304a;
    -webkit-border-top-left-radius: 220px 120px;
    -webkit-border-top-right-radius: 220px 120px;
    -webkit-border-bottom-right-radius: 220px 120px;
    -webkit-border-bottom-left-radius: 220px 120px;
    -moz-border-radius: 220px / 120px;
    border-radius: 220px / 120px;
    animation-name: moveForward;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes moveForward {
    0% {
        left: -1000%;
    }

    10%, 90% {
        left: 50%;
    }

    100% {
        left: -1000%;
    }
}

#oval-thought::before {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 50px;
    width: 30px;
    height: 30px;
    background-color: #12304a;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#oval-thought::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 30px;
    width: 15px;
    height: 15px;
    background-color: #12304a;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#oval-thought p {
    font-size: 12px;
    height: 100%;
    width: 100%;
}

img {
    display: block;
}

.icon {
    display: inline-block;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;

    opacity: 0;
    animation: myopacity 12s;
    animation-iteration-count: infinite;
}

@keyframes myopacity {
    0%, 6.8% {
        opacity: 0;
    }

    7.8%, 92.1% {
        opacity: 1;
    }

    93.1%, 100% {
        opacity: 0;
    }
}

blockquote p {
    margin: 0;
    font-size: 1.4rem;
}

.color-black {
    color: black;
}

.color-blue {
    color: #a5a5a5;
}

.padding-left-10 {
    padding-left: 10px;
}

.nav-tool-bar a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.logo {
    background-image: url("../Content/Images/logo-mosbach.png");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: contain;
    height: 100%;
}

.active {
    background-color: #75B0CA;
    color: white;
}

main {
    padding-top: 30px;
    padding-bottom: 30px;
}

article {
    padding-top: 10px;
    margin: 5px;
}

main > article {
    padding-top: 10px;
    margin: auto;
    max-width: 1024px;
    margin-bottom: 8px;
}

#toolBar {
    text-align: right;
    background-color: gray;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.8em;
    line-height: normal;
}

#toolBar > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.record-overview-header,
.record-overview-footer {
    max-height: 50px;
    height: 50px;
    min-height: 50px;
}

.record-overview-body {
    max-height: 230px;
    height: 230px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
}

.card-body {
    background-color: white;
}

.card-subtitle, .text-right {
}

.card-text {
    flex-grow: 1;
    margin-top: 1rem;
}

.record-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.record-container section {
    background-color: #ededed;
    padding: 5px;
    margin: 5px;
    box-shadow: 2px;
    box-shadow: 3px 3px 1px #aaaaaa;
    flex-basis: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100% !important;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.ranking {
    color: #ecca4b;
}

.bigText {
    font-size: 1.2em;
}

.fa-bars {
    font-size: 1.6em;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    flex-grow: 1;
    margin-right: 0;
}

.navbar-nav {
    line-height: 40px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid;
    border-color: white;
    border-width: thin;
}

.navbar-nav li {
    /*background-color: gray;*/
    margin: 5px;
}

.navbar-toggler {
    font-size: 25px;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.form-inline {
    font-size: 29px;
}

textarea {
    margin-top: 5px;
}

.mobileContentOnly {
    display: initial;
}

.desktopContentOnly {
    display: none;
}

.nolink,
.nolink a {
    text-decoration: none;
    color: black;
}

.nolink:hover {
    text-decoration: underline;
}

.hideLink {
    display: none;
}

.rightAlign {
    text-align: right;
}

.whiteColor {
    color: white;
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.n-column-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#map {
    width: 100%;
    height: 800px;
}

.map-container {
    display: flex;
    flex-direction: column;
}

.flexspacebetween {
    justify-content: space-between;
}

footer {
    display: contents;
    text-align: center;
}

#page-settings,
#backtotop {
    padding-top: 30px;
}

#page-settings {
    background-color: #a5a5a5;
    color: black;
}

#page-settings a {
    margin: 15px;
    color: black;
}

#backtotop,
#socialmedia,
#footer-nav,
#copyright {
    background-color: #12304a;
    padding-bottom: 10px;
    color: white;
}

#backtotop a {
    font-size: 2.5em;
}

#backtotop p {
    font-size: 1rem;
}

#socialmedia img {
    max-height: 40px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
}

#socialmedia img:hover {
    filter: none;
}

#footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer-nav a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: inline-block;
}

#footer-nav a:hover {
    text-decoration: underline;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px; 17.01.2020 Auskommentiert von Michael, weil die Formulare mit einer 100% Weite besser dargestellt werden. */
}

.myactive {
    color: #0056b3 !important;
}

#myFormStyle .form-group div {
    padding: 0;
}

#myFormStyle label {
    font-weight: bold;
}

#myFormStyle label::after {
    content: ':';
}

.custom-control label::after {
    content: ''!important;
}

.text-info {
    color: #f1b200 !important;
    font-weight: bold;
}

.text-info + p {
    font-style: italic;
}

#filter_settings_categories img {
    display: inline-block;
}

.card-columns {
    column-count: 1;
}

.full-width {
    width: 100%;
}

.clearfix {
    clear: both;
}

.success-box {
    margin: 50px 0;
    padding: 10px 10px;
    border: 1px solid #eee;
    background: #f9f9f9;
}

.success-box > div {
    vertical-align: top;
    display: inline-block;
    color: #888;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: left;
}

.rating-stars ul > li.star {
    display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size: 2.5em; /* Change the size of the stars */
    color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}

.accessible-record-view {
    column-count: 1 !important;
}

.accessible-record-view > div {
    max-width: 100% !important;
    width: 100% !important;
}

.accessible-record-view .record-overview-header,
.accessible-record-view .record-overview-body,
.accessible-record-view .record-overview-footer {
    max-height: 100%;
    height: 100%;
    min-height: 100%;
}

.accessible-record-view .card-header {
    font-size: 18px;
}

.accessible-record-view .card-subtitle {
    font-size: 16px;
}

.form-actions {
    margin-top: 25px;
}

.flexible-height {
    
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 360px) {
    .form-inline {
        font-size: 38px;
    }

    .navbar-toggler {
        font-size: 30px;
        padding: 0.25rem 0.75rem;
    }

    .container {
        width: 100%;
        max-width: 100% !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .row {
        display: flex;
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .col-9 {
        max-width: 75%;
    }

    .col-3 {
        max-width: 25%;
    }

    .navbar-nav {
        line-height: 40px;
        font-size: 20px;
        font-weight: 200;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .navbar-nav li {
        background-color: transparent;
        margin: 5px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2.3rem;
    }

    h4 {
        font-size: 2.2rem;
    }

    h5 {
        font-size: 2.1rem;
    }

    h6 {
        font-size: 2rem;
    }

    .accessible-record-view .card-header {
        font-size: inherit;
    }

    .accessible-record-view .card-subtitle {
        font-size: inherit;
    }

    .container {
        width: 100%;
        max-width: 100% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .card-columns {
        column-count: 2;
    }

    .container {
        width: 100%;
        max-width: 100% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .card-columns {
        column-count: 3;
    }

    header nav {
        padding: 10px;
    }

    .navbar-brand {
        flex-grow: 0;
    }

    .navbar-nav {
        border-top: none;
    }

    .mobileContentOnly {
        display: none;
    }

    .desktopContentOnly {
        display: block;
    }

    #footer-nav a {
        display: contents;
    }

    #footer-nav span:not(:last-child):after {
        content: ' | ';
    }

    #oval-thought {
        max-width: 280px;
        min-width: 280px;
        width: 288px;
        max-height: 150px;
        height: 150px;
        min-height: 150px;
        padding: 30px 15px;
    }

    #oval-thought p {
        font-size: 18px;
    }

    .map-container {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 100%;
        max-width: 100% !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header nav,
    .container {
        max-width: 1920px !important;
        margin: auto;
    }
}
