
@{
    ViewBag.Title = "Index";
}

<h1>Häufig gestellte Fragen (FAQ):</h1>
<hr />

<ol>
    <li><a href="#1">Was ist ein Open Data Portal?</a></li>
    <li><a href="#2">Was sind „offene Daten“?</a></li>
    <li><a href="#3">Für wen sind “offene Daten” interessant?</a></li>
    <li><a href="#4">Welchen Nutzen haben „offene Daten“?</a></li>
    <li><a href="#5">Wie können „offene Daten“ genutzt werden?</a></li>
    <li><a href="#6">Wie dürfen die Daten genutzt werden?</a></li>
    <li><a href="#7">Wieso verfügt das Portal über eine Login Funktion?</a></li>
    <li><a href="#8">Wie suche ich Datensätze?</a></li>
    <li><a href="#9">Wie filtere ich Datensätze?</a></li>
    <li><a href="#10">Wie nutze ich die Barrierefreiheit des Open Data Portals?</a></li>
    <li><a href="#11">Wie kann ich Daten herunterladen?</a></li>
    <li><a href="#12">Wie kann ich Datensätze bewerten und/oder kommentieren?</a></li>
    <li><a href="#13">Wozu kann ich Datensätze bewerten und/oder kommentieren?</a></li>
</ol>

<h4 id="1">Was ist ein Open Data Portal?</h4>
<p class="text-justify">
    Das Open Data Portal als Informationsplattform stellt den unkomplizierten und zentralen Einstiegspunkt zu allen öffentlichen - “offenen” -
    Daten der Stadt Mosbach dar.
</p>

<h4 id="2">Was sind „offene Daten“?</h4>
<p class="text-justify">
    Unter “offenen Daten” sind alle Daten zu verstehen, die der Öffentlichkeit frei zur Verfügung gestellt werden, Hierbei handelt es sich um
    jegliche Daten, die von allgemeinem Interesse sind, wie zum Beispiel Haushalts- oder Verkehrsdaten.
</p>

<h4 id="3">Für wen sind “offene Daten” interessant?</h4>
<p class="text-justify">
    Alle “offenen Daten” sind von allgemeinem Interesse, daher sind diese sowohl für interessierte Bürger, ehrenamtlich Tätige, Entwickler und
    Unternehmen aber auch für Mitarbeiter der Stadt Mosbach, andere Gemeinden und für die Bundesrepublik Deutschland von Interesse.
</p>

<h4 id="4">Welchen Nutzen haben „offene Daten“?</h4>
<p class="text-justify">
    Mithilfe von “offenen Daten” können Sie sich z.B. über Freizeitangebote der Stadt Mosbach informieren und diese Informationen z.B. in eine
    eigene Anwendung integrieren oder zur Erstellung einer Grafik weiterverwenden. Durch “offene Daten” wird Transparenz geschaffen und Sie können
    sich hierbei aktiv einbringen und die Stadt Mosbach dabei unterstützen, eine stetig hohe Qualität der Daten sicherzustellen.
</p>

<h4 id="5">Wie können „offene Daten“ genutzt werden?</h4>
<p class="text-justify">
    „Offene Daten“ können prinzipiell durch jedermann für jegliche Zwecke weiterverarbeitet und verbreitet werden – es sei denn, für die Daten
    ist eine eingeschränkte Lizenz vorhanden.
</p>

<h4 id="6">Wie dürfen die Daten genutzt werden?</h4>
<p class="text-justify">
    Jeder Datensatz hat eine Lizenz. Im Normalfall erlaubt die Lizenz die Vervielfältigung, Verarbeitung und Veröffentlichung der Daten. Diese
    Information ist jedoch dem Datensatz zu entnehmen.
</p>

<h4 id="7">Wieso verfügt das Portal über eine Login Funktion?</h4>
<p class="text-justify">
    Einloggen ist für interessierte Bürger nicht nötig, denn alle Daten sind „offen“ und können daher ohne eine vorherige Anmeldung heruntergeladen werden.
</p>

<h4 id="8">Wie suche ich Datensätze?</h4>
<p class="text-justify">
    Möchten Sie gezielt nach Datensätzen suchen, so können Sie am oberen rechten Bildschirmrand Ihren Suchtext im Textfeld links neben dem Lupen-Symbol
    eingeben und mit dem Lupen-Symbol suchen. In der mobilen Ansicht klicken Sie für die Eingabe eines Suchbegriffs auf das Lupen-Symbol am oberen
    rechten Bildschirmrand.
</p>

<h4 id="9">Wie filtere ich Datensätze?</h4>
<p class="text-justify">
    Haben Sie bereits eine Suche gestartet bzw. befinden Sie sich in der Übersicht aller Datensätze, so können Sie über das Trichter-Icon Ihre Suche
    beispielsweise auf eine bestimmte Kategorie filtern bzw. eingrenzen.
</p>

<h4 id="10">Wie nutze ich die Barrierefreiheit des Open Data Portals?</h4>
<p class="text-justify">
    Haben Sie Schwierigkeiten beim Lesen der Inhalte aufgrund der Textgröße, so können Sie jederzeit am unteren Bildschirmrand unter „Barrierefreiheit“
    durch Klicken auf das Buchstaben-Icon (Aa) den Text einmalig vergrößern.
</p>
<p class="text-justify">
    Haben Sie Schwierigkeiten Inhalte aufgrund eines für Sie nicht ausreichenden Kontrastverhältnisses zu erkennen, so können Sie jederzeit am unteren
    Bildschirmrand unter „Barrierefreiheit“ durch Klicken des in schwarz-weiß ausgefüllten Kreis-Symbols in eine Kontrastreichere Darstellung der
    Inhalte wechseln.
</p>

<h4 id="11">Wie kann ich Daten herunterladen?</h4>
<p class="text-justify">
    Haben Sie bereits eine Suche gestartet bzw. befinden Sie sich in der Übersicht aller Datensätze, so können Sie Daten direkt aus der Übersicht
    heraus durch Klicken des gewünschten Datentyp-Symbols herunterladen.
</p>
<p class="text-justify">
    Sie können Daten auch aus der Detailansicht eines Datensatzes durch Klicken des Buttons „herunterladen“ rechts neben dem entsprechenden 
    Datentyp-Symbols herunterladen.
</p>

<h4 id="12">Wie kann ich Datensätze bewerten und/oder kommentieren?</h4>
<p class="text-justify">
    Klicken Sie auf den Datensatz, den Sie bewerten und/oder kommentieren möchten, um auf die Detailansicht des Datensatzes zu gelangen. Scrollen 
    Sie nach unten zu „Kommentar schreiben“. Hier können Sie eine Bewertung in Form von Sternen und/oder einen Kommentar zu dem Datensatz hinterlassen.
</p>

<h4 id="13">Wozu kann ich Datensätze bewerten und/oder kommentieren?</h4>
<p class="text-justify">
    Das Bewerten von Datensätzen kann eine Orientierung geben, wie qualitativ oder wie aussagekräftig ein Datensatz ist. Bewerten und/oder 
    kommentieren Sie Datensätze unterstützen Sie künftige Interessierte bei der Suche von Datensätzen und die Stadt Mosbach dabei, die Datensätze 
    ständig zu optimieren bzw. zu ergänzen.
</p>