
@{
    ViewBag.Title = "Karte";
}

<h1>Geo Data Vorschau</h1>

@section Styles
{
    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
}

<!-- flex-direction muss auf dem Smartphone auf column geändert werden. -->
<div class="map-container">
    <div style="width: 100%;">
        <div id="menu">
            <input id="streets-v11"
                   type="radio"
                   name="rtoggle"
                   value="streets"
                   checked="checked" />
            <label for="streets">streets</label>
            <input id="light-v10" type="radio" name="rtoggle" value="light" />
            <label for="light">light</label>
            <input id="dark-v10" type="radio" name="rtoggle" value="dark" />
            <label for="dark">dark</label>
            <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors" />
            <label for="outdoors">outdoors</label>
            <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
            <label for="satellite">satellite</label>
        </div>

        <div id='map'>
        </div>
    </div>

    <aside style="min-width: 250px; width: 30%; max-width: 350px; padding: 10px;">
        <h2 style="margin: 0; margin-bottom: 10px; padding: 0;">Datensätze:</h2>

        <!-- Alle Datensätze anzeigen -->
        <ul style="list-style-type: none; margin: 0; padding: 0; line-height: 1.4em;">
            <li><label><input type="checkbox" checked name="dataset1" value="bildungseinrichtungen">Bildungseinrichtungen (12)</input></label></li>
            <li><label><input type="checkbox" checked name="dataset2" value="bushaltestellen">Bushaltestellen (159)</input></label></li>
        </ul>
    </aside>
</div>

<script>
    // öffentlicher Mapbox Access Token --> Free use
    L.mapbox.accessToken = "pk.eyJ1IjoibWlja3JlMTciLCJhIjoiY2s1ZjVtZ2czMmhleDNmbGo2N3d3dnp0eiJ9.CQfwridE_34CUIrMBQ-h1Q";

    var map = L.mapbox.map('map')
        .setView([49.348641, 9.142345], 13)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

    map.scrollWheelZoom.disable();

    var layerList = document.getElementById('menu');
    var inputs = layerList.getElementsByTagName('input');

    function switchLayer(layer) {
        var layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId);
    }

    for (var i = 0; i < inputs.length; i++) {
        inputs[i].onclick = switchLayer;
    }

    // Satellite: /satellite-v9

    var myLayer = L.mapbox.featureLayer().loadURL("/api/data/@ViewBag.FileId").addTo(map);

    var myLayer = L.mapbox.featureLayer().loadURL("/api/data/@ViewBag.FileId")
        .on('ready', function () {
            myLayer.eachLayer(function (layer) {
                map.fitBounds(myLayer.getBounds());
                layer.bindPopup(layer.features.properties.Name);
            });
        })
        .addTo(map);
</script>